# Feel free to modify this file.

# We are not interested in binaries.
*
!*.*
!/**/

# We disable machine-specific files.
build/
*.o
.gdb_history

# Files without extension have to be allowed explicitly.
!Makefile
